
:root {
    /* espacios */
    --spacing-24:2.4rem;
    --spacing-36:3.6rem;
    --spacing-16:1.6rem;
    --spacing-8:0.8rem;

    /* tamaños */
    --tamaño-20:20px

  }
  /* fuentes */
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

/* header */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;


}
a{
    color: black;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&family=Raleway:wght@100;300;400;500;600;700;900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* ahora 1em son 10px */
    color: #111111;
    font-family: 'Inter', sans-serif;
    /* font-family: 'Raleway', sans-serif; */


}
/* enlaces */
a {
    text-decoration: none;
    font-size: 2em;
    color: inherit;
}

/* listas  */
header,
footer {
    color: white;
    font-family: 'Raleway', sans-serif;

}
ul, ol {
    list-style-type: none;
}
/* parrafos */
p {
    font-size: 1.8em;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

}

img{
    width: 100%;
}
header{
    background-color:#30343F;
    padding: var(--spacing-24);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__menu{
    display: flex;
    align-items: center;
    gap: var(--spacing-24);
    list-style: none;
}
.navbar__link{
    color: white;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    padding: 10px 16px;
    display: inline-block;
    transition: background .3s ease-in-out;
    position: relative;

}
.submenu__link{
    color: white;
}
.navbar__link:hover{
    background-color: red;
    color: white;
    
}
.navbar__logo{
    max-width: 300px;
}

.with-icon{
    display: flex;
    align-items: center;
    gap: 10px;
}
.with-submenu:hover .submenu{
    display: block;
}
.submenu{
    display: none;
    width: 300px;
    position: absolute;
    background-color: #30343F;
    z-index:2;
}
.submenu__link{
    display: block;
    padding: 8px 16px;
    font-size: 18px;
    transition: background .3s ease-in-out;
}

.submenu__link:hover{
    background-color: red;

}

/* hero */

.hero{
    background-image: url(img/funkos-banner.webp);
    padding: 150px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}
.hero::before{
    content: '';
    background-position: top;
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px) brightness(.9);
}
.hero__container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    position: relative;
    z-index: 1;
}
.hero__titulo{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    color: white;
}
.hero__parrafo{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: white;
}
.hero__link{
    display: inline-block;
    font-size: 20px;
    background-color: white;
    padding: 8px 50px; 
    border-radius: 50px;
    font-weight: 500;
    color: black;
    transition: all .3s ease-in-out;
}
.hero__link:hover{
    background-color: red;
    color: white;
}

/* colecciones */

.coleccion{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding: 16px 0;
}
.coleccion:nth-child(2) .coleccion__img{
    order: -1;
}
.coleccion__container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: start;
}
.coleccion__titulo{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 30px;
}
.coleccion__parrafo{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 20px;
    border-bottom: 2px solid red;
    padding-bottom: 20px;
}
.coleccion__link{
    display: block;
    font-size: 20px;
    background-color: #30343F;
    color: white;
    padding: 8px 16px;
    border-radius: 50px;
    transition: background .3s ease-in-out;
    text-transform: uppercase;
}
.coleccion__link:hover{
    background-color: red;
}

/*  slider */
.slaider{
display: flex;
flex-direction: column;
gap: 30px;
margin: 100px auto;
}
.slaider__items{
    display: flex;
    gap: 24px;
}
.slaider__titulo{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
}
.card-item__container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 16px;

}

.card-item__span{
    background-color: red;
    color: white;
    padding: 5px 8px;
    text-transform: uppercase;
    font-size: smaller;
    position: absolute;
    right: 0;

}
.card-item__img img{
animation: fade .7s;
}
.card-item__img{
    display: flex;
    position: relative;
}
.card-item__img--back{
display: none;
}
.card-item__img:hover .card-item__img--back{
display: block;
}
.card-item__img:hover .card-item__img--front{
display: none;
}


.card-item__licencia{
    font-size: small;
    font-weight: 500;
}
.card-item__nombre{
    font-size: medium;
    font-weight: 700;
}
.card-item__precio{
    font-size: small;
}
.card-item__promo{
    font-size: small;
    font-weight: 700;
    color: rgb(12, 84, 192);
    text-transform: uppercase;
}
/* animacion */
@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* footer */

.footer{
    background-color: #30343F;
    padding: 50px;
}
.footer__parrafo{
    text-align: center;
    color: white;


}

/* SHOP */

.aside__contenedor{
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;

}
.aside__menu{
    display: flex;
    flex-direction: column;
    width: 240px;

}
.botones{
    text-align: center;
    padding: 50px 0;
    font-weight: bold;
}
.presentacion{
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 20px;
    padding-top: 80px;
}
.slaider__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px; 
  }
  

  /* items */ 
  .presentacion__item{
   display: flex;
  }
  .presentacion__item > .slaider__item > .card-item{
    display: flex;
    justify-content: center;
    align-items: center;
  }