<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css">
    <title>FUNKO-SHOP</title>
</head>

<body>
    <header>
        <nav class="navbar container">
            <div class="navbar__logo">
                <a href="/home">
                    <img src="../../../public/img/branding/logo_light_horizontal.svg" alt="Logotipo de la marca">
                </a>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item with-submenu">
                    <a class="navbar__link with-icon" href="/shop">SHOP <iconify-icon
                        icon="carbon:chevron-down"></iconify-icon></a>
                        <ul class="submenu">
                            <li class="submenu__item">
                                <a href="#" class="submenu__link"> Funkos</a>
                            </li>
                            <li class="submenu__item">
                                <a href="#" class="submenu__link"> Remeras</a>
                            </li>
                            <li class="submenu__item">
                                <a href="#" class="submenu__link"> Llaveros</a>
                            </li>
                        </ul>
                    </li>
                    <li class="navbar__item"><a class="navbar__link" href="/contact">CONTACTO</a></li>
            <!-- <li class="navbar__item"><a class="navbar__link" href="/auth/login">LOGIN</a></li> -->
            <!-- <li class="navbar__item" id="carrito">
                <span id="cantidadCarrito">0</span>
                <a href="/shop/cart" class="navbar__carrito"><img src="../../../public/img/icons/cart-icon.svg" alt="Icono de carrito"></a>
            </li> -->
        </ul>
    </nav>
</header>

    <main id="login" class="container">
        <h2 class="login__title">INGRESAR A MI CUENTA</h2>
        <form class="login__form form" action="" method="post">
            <div class="form__box--grid">
                <label class="form__label" for="email">Email:</label>
                <input class="form__input" type="text" name="email" id="email" placeholder="johndoe@email.com">
            </div>
            <div class="form__box--grid">
                <label class="form__label" for="password">Contraseña:</label>
                <input class="form__input" type="password" name="password" id="password"
                    placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
            </div>
            <div class="form__submission">
                <input class="form__btn btn btn--primary btn--large" type="submit" value="Ingresar">
                <div class="form__terms">
                    <input type="checkbox" name="" id="">
                    <label class="" for=""> Recordar contraseña </label>
                </div>
            </div>
            <a class="form__link" href="">Olvidé mi contraseña</a>
        </form>
    </main>
    <footer class="footer">
        <nav class="navbar container">
            <ul class="navbar__item">
                <li class="navbar__item">
                    <a class="navbar__link" href="/shop">SHOP</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="/auth/register">REGISTRARSE</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="/auth/login">LOGIN</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="/contact">CONTACTO</a>
                </li>
            </ul>
            <picture>
                <img src="../../../public/img/branding/isotype.svg" alt="Isotipo de la marca Funkoshop">
            </picture>
        </nav>
        <p class="footer__parrafo">All rights reserved 2023 - Funkoshop &copy;</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>
</body>

</html>